/* body {
  height: 100%;
  background-image: linear-gradient(rgb(27, 27, 27), rgb(0, 0, 0));
  font-family: "Skranji", cursive;
  color: #ffc000;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
} */