.player-HPBar {
  background-color: #ff0000;
  border: 2px solid;
  border-color: black;
  position: relative;
  height: 30px;
  width: 100%;
}

.playerHP {
  background: linear-gradient(to left, #32dd49, #1afa05);
  border-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: width 0.25s;
  transition-delay: 0.25s;
}

.playerHPNumber {
  color: #000;
  position: absolute;
  margin-top: -25px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
  opacity: 0;
  transition: opacity 1s;
  font-family: "Skranji", cursive;
  padding: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

#registerTip {
    width: auto;
    max-width: 200px;
}

#toolTip {
    width: auto;
    max-width: 150px;
}