.logo {
  height: 200px;
  width: auto;
  padding-top: 50px;
}

/*Button Stuff. */
button {
  margin: 20px auto;
  width: 250px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: "Skranji", cursive;
  color: #ffc000;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
  position: relative;
}

.button.start {
  font-size: 30px;
  padding: 15px 0;
  width: 300px;
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
}

.button.secret {
  font-size: 10px;
  padding: 0px 0;
  height: 30px;
  width: 150px;
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
}

button:disabled {
  color: #acacac;
  border-top: 2px ridge #acacac;
  border-left: 2px groove #acacac;
  border-right: 2px ridge #acacac;
  border-bottom: 2px groove #acacac;
  background: radial-gradient(circle, #333030, #3f3d3d);
}

.buttonSkill:hover:enabled {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.buttonSkill:active:enabled {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.button:hover:enabled {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.button:active:enabled {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

div {
  height: auto;
}

.toolbar {
  display: flex;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  margin: 20px;
  width: 1000px;
}

body { 
  display: grid;
  grid-template-areas: 
    "header header"
    "article nav"
    "footer nav";
  grid-template-rows: 10% 60% 15%;  
  grid-template-columns: 1200px 240px;
  grid-row-gap: 0;
  grid-column-gap: 0;
  height: 100vh;
  margin: 0% auto;
  background: linear-gradient(rgb(27, 27, 27), rgb(0, 0, 0));
    font-family: 'Skranji', cursive;
  }  

  input {
    background: radial-gradient(circle, #a31919, #8b0000);
    border-radius: 2px;
    color: gold;
    border-top: 2px ridge #ffb000;
    border-left: 2px groove #ffb000;
    border-right: 2px ridge #ffb000;
    border-bottom: 2px groove #ffb000;
    font-family: "Skranji", cursive;
  }

  .initials {
    background: radial-gradient(circle, #a31919, #8b0000);
    color: gold;
    font-size: 80px;
    height: 100px;
    width: 180px;
    border-top: 4px ridge #ffb000;
    border-left: 4px groove #ffb000;
    border-right: 4px ridge #ffb000;
    border-bottom: 4px groove #ffb000;
    font-family: "Skranji", cursive;

  }

  input::-webkit-calendar-picker-indicator {
    display: none;
  }