span.square {
  background: #0266a8;
  background: -webkit-linear-gradient(#e52b2b 0%, #8b0000 100%);
  background: -o-linear-gradient(#e52b2b 0%, #8b0000 100%);
  background-image: -webkit-linear-gradient(#e52b2b 0%, #8b0000 100%);
  background-image: -o-linear-gradient(#e52b2b 0%, #8b0000 100%);
  background-image: linear-gradient(#e52b2b 0%, #8b0000 100%);
  border-radius: 5px;
  border-top: 3px #ffb000;
  border-left: 3px groove #ffb000;
  border-right: 3px ridge #ffb000;
  border-bottom: 3px ridge #ffb000;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.arrow {
  position: relative;
}

.arrow:active {
  border-top: 3px groove #ffb000;
  height: 22px;
}

.arrow.up:after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #ffb000 transparent;
  border-radius: 2px;
}

.arrow.up:before {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  border-radius: 2px;
}

.arrow.down:after {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #ffb000 transparent transparent transparent;
  border-radius: 2px;
}

.arrow.down:before {
  position: absolute;
  top: 11px;
  left: 6px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  border-radius: 2px;
}

div {
  height: 100%;
  width: 100%;
}

input[type="file"] {
  display: none;
}

.imageUploadButton {
  width: 250px;
  letter-spacing: 2px;
  border-radius: 3px;
  font-family: "Skranji", cursive;
  color: #ffc000;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 2px 2px;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 2px ridge #ffb000;
  border-left: 2px groove #ffb000;
  border-right: 2px ridge #ffb000;
  border-bottom: 2px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
  position: relative;
}

 .imageUploadButton:hover {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.imageUploadButton:active {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

span.square:hover {
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

span.square:active {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.preview {
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  border-radius: 5px;
  height: "200px";
  width: "200px";
  overflow: "hidden";
  object-fit: "cover";
}
